<div class="min-h-screen bg-gray-100 flex items-center justify-center p-2">
  <div class="bg-white rounded-lg shadow-md w-full max-w-2xl p-6">
    <!-- Header -->
    <div class="text-center mb-6">
      <div class="flex justify-center mb-4">
        <div class="bg-blue-500 rounded-full p-3">
          <mat-icon class="text-white">person</mat-icon>
        </div>
      </div>
      <h2 class="text-2xl font-bold text-gray-800 mb-2">My Profile</h2>
      <hr>
    </div>

    <!-- Name -->
    <div class="mb-4">
      <mat-icon class="text-blue-700 align-middle mr-2">person</mat-icon>
      <span class="text-blue-700 font-bold text-xl align-middle">Name:</span>
      <span class="ml-2">{{authService.userName}}</span>
    </div>

    <!-- Email -->
    <div>
      <mat-icon class="text-blue-700 align-middle mr-2">email</mat-icon>
      <span class="text-blue-700 font-bold text-xl align-middle">Email:</span>
      <span class="ml-2">{{authService.userEmail}}</span>
    </div>
  </div>
</div>
