<div class="min-h-screen bg-gray-100 flex items-center justify-center p-2">
  <div class="bg-white rounded-lg shadow-md w-full max-w-2xl p-6">
    <!-- Header -->
    <div class="text-center mb-6">
      <div class="flex justify-center mb-4">
        <div class="bg-blue-500 rounded-full p-3">
          <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
          </svg>
        </div>
      </div>
      <h2 class="text-2xl font-bold text-gray-800 mb-2">
        My Profile
      </h2>
      <hr>
    </div>
    <div class="text-blue-700 font-bold text-xl">Name:</div>
    <div class="mb-4">{{authService.userName}}</div>
    <div class="text-blue-700 font-bold text-xl">Email:</div>
    <div class="mb-4">{{authService.userEmail}}</div>
    <div></div>
  </div>
</div>