<header class="header">
  <div class="container">
    <div class="top-bar">
      <div class="logo cursor-pointer" routerLink="/">
        Shop<span>Hub</span>
      </div>

      <div class="search-section">
        <input type="text" class="search-input" placeholder="Search products..." (keyup.enter)="onSearch($event)" />
      </div>

      <div class="profile-link" (click)="onProfileClick()">
        My Account
      </div>
    </div>

    <div class="category-bar">
      <ul class="category-menu cursor-pointer">
        @for (category of categoryList; track category._id) {
        <li>
          <a (click)="searchCategory(category._id!)">{{ category.name }}</a>
        </li>
        } @empty {
        <li>There are no items.</li>
        }
      </ul>
    </div>
  </div>
</header>
