<div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col h-96 border border-black cursor-pointer">
  <div class="h-1/2 overflow-hidden bg-gray-100 flex items-center justify-center">
    <img title="image" style="width: 50%; height: auto; object-fit: cover;" [src]="getProductImage()"
      [alt]="product.name" (error)="onImageError($event)" [routerLink]="['/product', product._id]">
  </div>

  <div class="px-6 py-4 flex-1">
    <div class="font-bold text-xl mb-2">{{product.name}}</div>
    <p class="text-gray-700 text-base">
      {{product.shortDescription}}
    </p>
  </div>

  <div class="px-6 pt-4 pb-2">
    <div class="space-y-6">
      <!-- Price -->
      <div>
        @if (product.discount > 0) {
        <div class="flex items-center gap-3">
          <span class="text-2xl font-bold text-blue-600">
            ${{ (product.price - (product.price * product.discount / 100)).toFixed(2) }}
          </span>
          <span class="text-xl text-gray-500 line-through">${{ product.price }}</span>
          <span class="bg-red-100 text-red-700 px-2 py-1 rounded text-sm font-semibold">
            -{{ product.discount }}%
          </span>
        </div>
        } @else {
        <span class="text-2xl font-bold text-blue-600">${{ product.price }}</span>
        }
      </div>
      <div style="display: flex; justify-content: flex-end; width: 100%; padding: 16px;">
        <div style="display: flex; gap: 20px;">
          <button type="button" matFab style="width: 56px; height: 56px;" (click)="addToWishList(product)">
            @if(isInWishList()){
            <mat-icon style="font-size: 28px; width: 28px; height: 28px;">favorite</mat-icon>
            } @else {
            <mat-icon style="font-size: 28px; width: 28px; height: 28px;">favorite_border</mat-icon>
            }
          </button>

          <button type="button" matFab style="width: 56px; height: 56px;">
            <mat-icon style="font-size: 28px; width: 28px; height: 28px;">add_shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>