<div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col h-96 border border-black">
  <div class="h-1/2 overflow-hidden bg-gray-100 flex items-center justify-center">
    <img title="image" style="width: 50%; height: auto; object-fit: cover;" [src]="getProductImage()"
      [alt]="product.name" (error)="onImageError($event)">
  </div>

  <div class="px-6 py-4 flex-1">
    <div class="font-bold text-xl mb-2">{{product.name}}</div>
    <p class="text-gray-700 text-base">
      {{product.shortDescription}}
    </p>
  </div>

  <div class="px-6 pt-4 pb-2">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
      {{product.price | currency}}
    </span>

    @if (product.discount) {
    <span class="inline-block bg-green-200 rounded-full px-3 py-1 text-sm font-semibold text-green-700 mr-2 mb-2">
      {{product.discount}}% OFF
    </span>
    }

    <button type="button" (click)="onAddToCart()"
      class="bg-blue-600 text-white font-bold py-2 px-4 border border-blue-700 rounded hover:bg-blue-700 transition-colors w-full mt-2">
      Add to Cart
    </button>
  </div>
</div>
