<div class="flex px-10 py-2">
  <div class="w-3/12">
    <h6 class="font-bold text-blue-700 text-2xl">Filters</h6>
    <div class="flex flex-col px-6">
      <div class="w-full p-2 mb-4">
        <mat-form-field class="w-full">
          <mat-label>Categories</mat-label>
          <mat-select name="categoryId" [(ngModel)]="categoryId" (valueChange)="getProducts()">
            @for (category of categories; track $index) {
            <mat-option [value]="category._id">{{category.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="w-full p-2 mb-4">
        <mat-form-field class="w-full">
          <mat-label>Brand</mat-label>
          <mat-select name="brandId" [(ngModel)]="brandId" (valueChange)="getProducts()">
            @for (brand of brands; track $index) {
            <mat-option [value]="brand._id">{{brand.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="flex-1">
    <div class="flex justify-between">
      <h6 class="font-bold text-blue-700 text-2xl">Products</h6>
      <mat-form-field class="w-40">
        <mat-label>Order By</mat-label>
        <mat-select (valueChange)="orderChange($event)">
          <mat-option [value]="1">Price Low to High</mat-option>
          <mat-option [value]="-1">Price High to Low</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex flex-wrap gap-2">
      @for (product of products; track $index) {
      <app-product-card [product]="product"></app-product-card>
      }
      @empty {
      <h5 class="mt-3 text-red-700">No Products Found</h5>
      }
    </div>
    <div class="flex gap-3 mt-4">
      <button mat-stroked-button [disabled]="page === 1" (click)="pageChange(page - 1)">
        Previous
      </button>
      <button mat-stroked-button (click)="pageChange(page + 1)" [disabled]="!isNext">
        Next
      </button>
    </div>
  </div>
</div>